.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #939090;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 20px;
  font-weight: 600;
}

.navbar-leaderboard ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-leaderboard li {
  margin-left: 20px;
}

.navbar-leaderboard a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar-leaderboard a:hover {
  transform: scale(1.5); 
}